* {
    box-sizing: border-box;
}

body {
    padding-top: 70px;
    min-height: 100vh;
}

.navbar-brand img {
    max-height: 100%;
    display: inline !important;
}

.page {
    width: 100% !important;
    position: absolute;
    background: white;
    transition: 500ms all;
    padding-left: 3vw !important;
    padding-right: 3vw !important;
}

.page-in {
    transform: translateX(0);
}

.page-out {
    transform: translateX(-100vw);
}

label.radio-region {
    border: 1px solid #eaeaea;
    background: #eaeaea;
    padding: 5px;
    user-select: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    line-height: 2em;
    width: 15.9581%
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label{
    background: rgb(117, 117, 117);
    color: white;
}

label.radio-region > input:checked {
    background: black;
}

.games .input-group {
    margin-top: 13px;
}

section form {
    display: block;
}
section form label {
    font-weight: bold;
}
section form input, section form textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.search-result {
    padding: 15px;
    border: 1px solid #eaeaea;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 4px;
}

.games .alert.alert-info {
    margin-top: 10px;
    margin-bottom: 10px;
}

.save {
    border: 1px solid #eaeaea;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
}

@media only screen and (max-width: 768px) {
    label.radio-region {
        width: calc(33.33% - 3px);
    }
}
